
<div class="row">
<div class="col-md-4">
	<%= link_to "Back",root_path%>
<!--ide majd a képet, ha lesz-->
	<h2><%= @user.firstname %> <%= @user.surname %> </h2>
	<h3><%= @user.email %></h3>

	<h3><%= @user.current_sign_in_at %></h3>

</div>

<div class="col-md-8">
	
		
	<% @reviews.each do |review|%>
	
		<script>
  			function apiCall() {	
 			 	$.getJSON('https://www.omdbapi.com/?t='+ encodeURI('<%=review.movie.title%>')+'&apikey=847f91b9').then(function(response){
  				var image=response.Poster;
  			$('.index_img<%=review.movie.id%>').attr('src',image);
  				})	
 			 }
			apiCall()
		</script>
		<div class=movie_frame_user>

			<a href="/movies/<%=review.movie.id%>">
				<img class="index_img<%=review.movie.id%>" src="/assets/notavailable.jpg" height="200" width= "auto">
			</a>
			<div class="inside">
	 			<%=review.movie.title%>

			<div class = "review-rating" data-score= "<%= review.rating %>"" ></div>
	 		<%=review.comment%>
	 		

	 		</div>
		</div>


	</div>	

	<%end%>



</div>


<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>