<div class = "review">
<%= link_to review.user.firstname + " " + review.user.surname, user_path(review.user.id) %>
<div class = "review-rating" data-score= "<%= review.rating %>"" ></div>
<p><%= review.comment 	%></p>

<% if user_signed_in? %>
	<% id = current_user.id  %>
	<%if @movie.user_id == current_user.id || id==1 %>
		<%= link_to "Edit", edit_movie_review_path(review.movie,review)%>
		<%= link_to "Delete",movie_review_path(review.movie,review), method: :delete,data: {confirm: "Are you sure?"} %>
	<% end %>
<% end %>
</div>