<%= link_to "Back",root_path%>
<script>
 

  function apiCall() {	
  	$.getJSON('https://www.omdbapi.com/?t='+ encodeURI('<%=@movie.title%>')+'&apikey=847f91b9').then(function(response){
  		var image=response.Poster;
  		$('.cover').attr('src',image);
  	})	
  }
apiCall()
 </script>
<div class="row">
	<div class="col-md-4">
		<img class='cover' src="/assets/notavailable.jpg">
		<%= image_tag @movie.movie_img.url(:movie_show), class:"movie_show"%>
		<%if current_user %>
		<div> <%=link_to "Add review", new_movie_review_path(@movie) %></div>
		<%end%>
		<% if user_signed_in? %>
			<% id = current_user.id  %>
			<%if @movie.user_id == current_user.id || id==1 %>
				<%= link_to "Edit",edit_movie_path(@movie)%>
				<p><%=  %> </p>
				<%= link_to "Delete",movie_path(@movie), method: :delete,data: {confirm: "Are you sure?"} %>
			<% end %>
		<% end %>
		
	</div>
	<div class="col-md-4">
		<h2><%= @movie.title %></h2>
		<h3 id="director">
			<script>  function director() {	
  				$.getJSON('https://www.omdbapi.com/?t='+ encodeURI('<%=@movie.title%>')+'&apikey=847f91b9'	).then(function(response){
  					
  					return response.Director;
  					
  					
  				
 		 		})	
 			 }
 			 console.log(JSON.stringify(director()));
			document.getElementById("director").innerHTML = JSON.stringify(director());

		</script></h3>
		<h3>Average Rating:</h3>
			<div class="review-rating" data-score=<%= @average %>></div>
			<span> <%= @movie.reviews.count%> rating (<%= @average %>)</span>
		<h4>Category: <%= @movie.category.name %></h4>
		<p class="movie-desc"><%= @movie.description %></p>
	</div>

	<div class="col-md-4">
		<%= render @movie.reviews%>
	</div>


<div>



</div>
</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

