<a href="/movies/">
	<img class='backbutton' src="/assets/back.jpg" >
</a>

<div class="row">
	<div class="col-md-4">

		<% if @image.nil?  %>

					<img class='cover' src="/assets/notavailable.jpg" height="200" width= "auto">
				<% else%>
					<img class='cover' src="<%= @image %>" height="200" width= "auto">
				<% end %>

		<a href="http://www.imdb.com/title/<%=@imdbID%>/">
					<img class="imdb_logo" src="/assets/imdb-logo.png">
					
				</a>
		<%if current_user %>
		<div> <%=link_to "Add review", new_movie_review_path(@movie) %></div>
		<%end%>
		<% if user_signed_in? %>
			<% id = current_user.id  %>
			<%if @movie.user_id == current_user.id || id==1 %>
				<%= link_to "Edit",edit_movie_path(@movie)%>
				<p><%=  %> </p>
				<%= link_to "Delete",movie_path(@movie), method: :delete,data: {confirm: "Are you sure?"} %>
			<% end %>
		<% end %>
		
	</div>
	<div class="col-md-4">
		<h2><%= @movie.title %></h2>
		<h4><%= @runtime%></h4>
		<h3>Director: <%= @director %></h3>
		<h4> <%= @year %></h4>
		<h4>Category: <%= @genre %></h4>
		<h3>Average Rating:</h3>
			<div class="review-rating" data-score=<%= @average %>></div>
			<span> <%= @movie.reviews.count%> rating (<%= @average %>)</span>
		
		<h4>Actors: <%= @actors%></h4>
		<p class="movie-desc"> <%=@description%></p>
		
	</div>

	<div class="col-md-4" id="movie_reviews">
		<%= paginate @rev %>
		<%= render @rev%>
	</div>


<div>



</div>
</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

